---
const skills = [
  { name: "MacOS" , icon: "https://skillicons.dev/icons?i=apple" },
  { name: "Linux", icon: "https://skillicons.dev/icons?i=linux" },
  { name: "Windows", icon:"https://skillicons.dev/icons?i=windows"},
  { name: "Neovim", icon: "https://skillicons.dev/icons?i=neovim"},
  { name: "Bash", icon: "https://skillicons.dev/icons?i=bash"},
  { name: "C", icon: "https://skillicons.dev/icons?i=c" },
];

const learning = [
  { name: "Rust", icon: "https://skillicons.dev/icons?i=rust" },
  { name: "Haskell", icon: "https://skillicons.dev/icons?i=haskell" },
]
---

<section class="skills-list">
  <div class="skills-header">
    <h1 class="font-['Departure_Mono'] header-text">Skills</h1>
  </div>
  <div class="skills-container md:grid">
    {skills.map(skill => (
      <div class="skill-card retro-card">
        <div class="skill-header">
          <img src={skill.icon} alt={skill.name} class="skill-icon" />
        </div>
        <p class="text-l font-['Departure_Mono'] skill-title">{skill.name}</p>
      </div>
    ))}
  </div>
  <button class="learning-toggle font-['Departure_Mono']">
    Learning
  </button>
    <div class="skills-container md:grid">
      {learning.map(item => (
        <div class="skill-card retro-card">
          <div class="skill-header">
            <img src={item.icon} alt={item.name} class="skill-icon" />
          </div>
          <p class="text-l font-['Departure_Mono'] skill-title">{item.name}</p>
        </div>
      ))}
    </div>
  </div>
</section>

<style>
  .skills-list {
    background-color: #000;
    border: 2px solid #ffffff;
    position: relative;
    z-index: 1;
  }

  .skills-header {
    background-color: rgba(34, 34, 34, 0.5);
    text-align: center;
    border-bottom: 2px solid #ffffff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

  .header-text {
    background-color: #000;
    padding: 1rem;
    border: 2px solid #ffffff;
    position: relative;
    z-index: 1;
    font-size: 1.2rem;
    text-shadow: 1px 1px 0 #000000;
  }

  .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 0.5rem;
    padding: 0.5rem;
  }

  .skill-card {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 0px;
    overflow: hidden;
    transition: transform 0.2s, border-color 0.2s;
    text-align: center;
    padding: 0.5rem;
  }

  .skill-card:hover {
    transform: translateY(-4px);
    border-color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.1);
  }

  .skill-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skill-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 0rem;
    color: none;
  }

  .skill-title {
    color: #ffffff;
  }
  .learning-section {
    border-top: 2px solid rgba(255, 255, 255, 0.6);
  }

  .learning-toggle {
    background: none;
    border: 4px solid rgba(255, 255, 255, 1);
    color: #ffffff;
    padding: 2rem;
    width: 100%;
    text-align: center;
    padding: 1rem;
  }

  .learning-content {
    transition: max-height 0.2s ease-out;
  }

  @media (max-width: 768px) {
    .learning-content.show {
      display: block;
    }
  }
</style>

<script>
  const toggleBtn = document.querySelector('.learning-toggle');
  const content = document.querySelector('.learning-content');

  toggleBtn?.addEventListener('click', () => {
    content?.classList.toggle('hidden');
  });
</script>